.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2{
  font-size: 35px;
  color: rgb(0, 2, 141);
}

.container-list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #333;
  border-radius: 15px;
}